@font-face{
    font-family: Ubuntu;
    font-weight: 400;
    src: url(Ubuntu/Ubuntu-Regular.ttf);
}

*{
    font-family: Ubuntu;
}

.overflowHidden{
    overflow: hidden;
    height: 100px;
}

.visible {
    display: block !important;
}

.container{
    width: 1230px;
    margin: auto;
}

body{
    margin: 0 auto;
}

.headerWrapper{
    position: sticky;
    top: 0.1px  ;
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.navbar{
    display: flex;
}

.navbar p{
    margin-right: 40px;
}

.contacts{
    display: flex;
}

.contactsItem{
    display: flex;
    margin-left: 36px;
}

.contactsInfo{
    margin-left: 12px;
}

.contactsInfo p{
    margin: 0;
}

.mobileMenu{
    display: none;
    
}

.mobileMenuOpened{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 0;
}

.mobileMenuHeader{
    padding: 8px 0;
    display: flex;
    justify-content: flex-end;
}

.mobileMenuItems{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 20px;
}

.contactsItems {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero{
    margin: 0;
    background: url(assets/bg-image.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding-top: 220px;
}

.hero h1{
    margin: 0;
    color: white;
    font-size: 72px;
    line-height: 92.5px;
}

.heroText{
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-bottom: 61px;
}

.heroButtons{
    margin: 0;
    width: 526px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.heroTransparentBtn{
    width: 278px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    color: white;
    text-align: center;
}

.heroOrangeBtn{
    width: 224px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF5A30;
    font-size: 16px;
    color: white;
    text-align: center;
}

.values{
    margin: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.valuesIcons{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 1230px;
}

.valuesIcons div{
    text-align: center;
}

.values h1{
    margin: 0;
    font-size: 46px;
    line-height: 59.8px;
    color: #1E212C;
}

.valuesP{
    font-size: 18px;
    line-height: 27px;
    color: #787A80;
}

.values p{
    font-size: 16px;
    line-height: 25.6px;
    color: #787A80;
}

p.values2p{
    font-size: 20px;
    line-height: 30px;
    color: #1E212C;
}

.formTitle{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 58px;
}

.formWrapper{
    width: 100%;
    padding-top: 120px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 60px;
    border: 1px solid black;
    align-content: center;
    align-content: center;
    width: 1230px;
    height: 243px;
    position: absolute;
    margin-top: -100px;
}

.formData{
    display: flex;
    justify-content: space-between;
    width: 90%;;
}

.formInput{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.formInput input{
    padding: 12px 16px;
    margin-top: 8px;
}

.formInput #messageInput{
    width: 414px;
}

.form button{
    background-color: #FF5A30;
    height: 44px;
    width: 104px;
    margin-top: 28px;
}

.portfolio{
    margin: auto;
    height: 752px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px
}

.portBlocks{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 1230px;
    overflow: hidden;
}

.portBlock{
    width: 390px;
    height: 440px;
    text-align: center;
    transition: transform 0.3s ease;
}

.portBlock img{
    height: 345px;
    transition: height 0.3s ease;
}

.portBlock:hover{
    transform: scale(1.1);
}

.portBlock:hover img{
    height: 260px;
}

.portBlock button{
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.portBlock:hover button{
    visibility: visible;
    height: 44px;
    width: 172px;
    color: #FF5A30;
    border: 1px solid #FF5A30;
    background-color: none;
    border-radius: 10px;
}

.portBtn{
    margin-top: 80px;
    width: 547px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.portBtn button{
    width: 224px;
    height: 52px;
    background-color: #FF5A30;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 52px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.portBtn button:hover{
    background-color: orange;
    transition: background-color 0.5s ease;
}

.portBtn h3{
    font-size: 28px;
    line-height: 42px;
}

.portfolio h1{
    float: left;
    margin-left: -792px;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    height: 880px;
    background: url(assets/bg-image.jpg);
    padding-top: 120px;
    padding-bottom: 80px;
}

.serviceTitle{
    margin: 0;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 140px;
}

.serviceSubtitle{
    margin: 0;
    font-size: 18px;
    color: #787A80;
    margin-bottom: 60px;
}

.serviceItems{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.seviceItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 285px;
    background-color: #E5E8ED;
}

.serviceInterior{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 285px;
    background-color: #E5E8ED;
    overflow: hidden;
    background-size: cover;
    transition: background-image 0.3s ease;
}

.serviceInterior:hover{
    background-image: url(assets/fc0ef31433fe6d3805805a9a0294d42a.jpg);
}

.serviceMore{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    font-size: 28px;
    line-height: 42px;
    font-weight: bold;
    align-items: center;
}

.serviceMore button{
    padding: 0 40px 0 40px;
    height: 52px;
    width: 207px;
    font-size: 18px;
    background-color: #FF5A30;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        
}

.serviceMore button:hover{
    background-color: orange;
    transition: background-color 0.5s ease;
}

.testimonials{
    height: 934px;
    background-color: #E5E8ED;
    padding-top: 70px;
}

.testTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}

.testimomos{
    font-size: 46px;
    line-height: 59.8px;
    text-align: center;
    margin-bottom: 60px;
}

.testClients{
    width: 600px;
    height: 250px;
}

.testClients h1{
    font-size: 46px;
    line-height: 59.8px;
    margin-bottom: 60px;
}

.testP p{
    font-size: 14px;
    margin: 0;
}

.testP h4{
    margin-bottom: 0;
}

.stroy{
    width: 495px;
    height: 550px;
    float: right;
    margin-top: -225px;
}

@media (max-width: 750px) {
    .header{
        width: 100%;
    }
    body{
        margin: 0;
        right: 0;
        left: 0;
    }
    .form{
        position: relative;
        width: 350px;
    }
    .container{
        width: unset;
        margin: 0;
    }
    .navbar {
        display: none;
    }
    .contacts{
        display: none;
    }
    .formData{
        flex-direction: column;
    }
    .serviceItems{
        flex-direction: column;
    }
    .headerWrapper{
        width: 100%;
    }
    .mobileMenu{
        display: block;
    }
    .valuesIcons{
        display: flex;
        flex-direction: column;
    }
    .heroButtons{
        display: flex;
        flex-direction: column;
    }
    .testTitle{
        display: flex;
        flex-direction: column;
    }
    .stroy{
        position: relative;
    }
    .portBlocks{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .header{
        width: 100%;
    }
    body{
        margin: 0;
        right: 0;
        left: 0;
    }
    .form{
        position: relative;
        width: 350px;
    }
    .container{
        width: unset;
        margin: 0;
    }
    .navbar {
        display: none;
    }
    .contacts{
        display: none;
    }
    .formData{
        flex-direction: column;
    }
    .serviceItems{
        flex-direction: column;
    }
    .headerWrapper{
        width: 100%;
    }
    .mobileMenu{
        display: block;
    }
    .valuesIcons{
        display: flex;
        flex-direction: column;
    }
    .heroButtons{
        display: flex;
        flex-direction: column;
    }
    .testTitle{
        display: flex;
        flex-direction: column;
    }
    .stroy{
        position: relative;
    }
    .portBlocks{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1240px) {
    body{
        margin: 0;
        max-width: 1240px;
    }
    .container{
        margin: 0;
        width: unset;
    }
}

@media (max-width: 1050px) {
    .header{
        width: 100%;
    }
    body{
        margin: 0;
        right: 0;
        left: 0;
    }
    .form{
        position: relative;
        width: 100%;
    }
    .container{
        width: unset;
        margin: 0;
    }
    .formData{
        flex-direction: column;
    }
    .serviceItems{
        flex-direction: column;
    }
    .headerWrapper{
        width: 100%;
    }
    .valuesIcons{
        display: flex;
        flex-direction: column;
    }
    .testTitle{
        display: flex;
        flex-direction: column;
    }
    .stroy{
        position: relative;
    }
    .portfolio{
        display: none;
    }
}

